
<div class="container">

    <div class="row">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for the sentence...">
        <div class="col-sm-2"></div>
        <div class="col-sm-12">
            <table id="table" class="table table-hover" data-total-field="count">
                <div id="debugArea"></div>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Stavek</th>
                </tr>
                </thead>

                <tbody>
                    {{#each knjiga.sentences}}
                        <tr class="search {{this.state}}">
                            <th scope="row">{{@index}}</th>
                            <td>{{this.text}}</td>
                            <td width="15%"><button class="btn" data-toggle="collapse" data-target="#a{{this._id}}" aria-expanded="true" aria-controls="collapseOne"><i class="bi bi-play-circle"></i></button></td>
                            <td width="15%"><button class="btn"><i class="bi bi-pencil-square"></i></button></td>
                            <td width="15%"><button class="btn edit"><i class="bi bi-trash"></i></button></td>
                        </tr>

                        <tr id="a{{this._id}}" class="collapse" aria-labelledby="headingOne" data-parent="#table">
                            <td colspan="12" class="{{this.state}}">
                                <div >
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <audio controls>
                                                    <source src="horse.ogg" type="audio/ogg">
                                                    <source src="horse.mp3" type="audio/mpeg">
                                                    Your browser does not support the audio element.
                                                </audio>
                                            </td>
                                            <td>
                                                <button class="btn edit"><i class="bi bi-pen"></i></button>
                                                <button class="btn edit"><i class="bi bi-file-play"></i></button>
                                                <button class="btn edit"><i class="bi-bookmark-star"></i></button>
                                                <button class="btn edit"><i class="bi-bookmark-x"></i></button>
                                                <button class="btn edit"><i class="bi bi-trash"></i></button>
                                            </td>
                                            <td>
                                                <!--<i class="fa-light fa-circle-0">0</i>-->
                                                <button class="btn btn1 btn-circle btn-sm" data-toggle="modal" data-target="#b{{this._id}}">1.</button>
                                                <button class="btn btn2 btn-circle btn-sm" data-toggle="modal" data-target="#b{{this._id}}">2.</button>
                                                <button class="btn btn3 btn-circle btn-sm" data-toggle="modal" data-target="#b{{this._id}}">3.</button>
                                                <button class="btn btn4 btn-circle btn-sm" data-toggle="modal" data-target="#b{{this._id}}">4.</button>
                                                <button class="btn btn5 btn-circle btn-sm" data-toggle="modal" data-target="#b{{this._id}}">5.</button>
                                                <button class="btn btn6 btn-circle btn-sm" data-toggle="modal" data-target="#b{{this._id}}">6.</button>
                                                <button class="btn btn7 btn-circle btn-sm" data-toggle="modal" data-target="#b{{this._id}}">7.</button>
                                                <button class="btn btn8 btn-circle btn-sm" data-toggle="modal" data-target="#b{{this._id}}">8.</button>
                                                <button class="btn btn9 btn-circle btn-sm" data-toggle="modal" data-target="#b{{this._id}}">9.</button>
                                            </td>
                                        </tr>
                                        <!-- modal -->
                                        <div class="modal fade" id="b{{this._id}}" tabindex="-1">
                                            <div class="modal-dialog" style="max-width: 80%;">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel"><b>{{this.text}}</b></h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        <input type="text" class="form-control" value="{{this.text}}">
                                                        </br>
                                                        <audio controls>
                                                            <source src="horse.ogg" type="audio/ogg">
                                                            <source src="horse.mp3" type="audio/mpeg">
                                                            Your browser does not support the audio element.
                                                        </audio>
                                                    </div>
                                                    <div class="modal-footer player">
                                                        <button class="btn edit" onclick="saveNewText()"><i class="bi bi-save"></i></button>
                                                        <button class="btn edit"><i class="bi bi-file-play"></i></button>
                                                        <button class="btn edit"><i class="bi-bookmark-star"></i></button>
                                                        <button class="btn edit"><i class="bi-bookmark-x"></i></button>
                                                        <button class="btn edit"><i class="bi bi-trash"></i></button>
                                                        <button class="btn edit" data-bs-dismiss="modal"><i class="bi bi-x"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

            <div class="pagination" id="pagination">
                <!-- Pagination links will be dynamically added here -->
            </div>

            <p></p>
            <button type="button" class="btn btn-dark" data-id="{{this._id}}" id="btn-normalize">Uredi projekt</button>
            <button type="button" class="btn btn-primary" id="btn-normalize">Shrani projekt</button>
            <button type="button" class="btn btn-success" id="btn-prepare">Dokončaj projekt</button> <!-- še 1x potrdi plus možnost preklica-->



            <div class="float-end">
                <button class="btn btn-secondary" id="btn-settings" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft"><i class="bi bi-gear"></i> Nastavitve</button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel" style="visibility: hidden;" aria-hidden="true">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasLeftLabel">Nastavitve</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body small">
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">






                                </select>
                                <label for="floatingSelectGrid">Govorec</label>
                            </div>
                        </div>
                        <br>

                        <label for="paceValue" class="form-label" id="labelPace">Tempo: 1</label>
                        <input type="range" class="form-range" min="0" max="2" step="0.1" value="1" id="paceValue" oninput="$('#labelPace')[0].innerHTML='Tempo: '.concat(this.value)">

                        <label for="pitchValueShift" class="form-label" id="labelPitchShift">Višina-zamik: 0</label>
                        <input type="range" class="form-range" min="-50" max="50" value="0" id="pitchValueShift" oninput="$('#labelPitchShift')[0].innerHTML='Višina-zamik: '.concat(this.value)">

                        <label for="pitchValueAmp" class="form-label" id="labelPitchAmp">Višina-faktor ojačitve: 1</label>
                        <input type="range" class="form-range" min="0" max="2" step="0.1" value="1" id="pitchValueAmp" oninput="$('#labelPitchAmp')[0].innerHTML='Višina-faktor ojačitve: '.concat(this.value)">

                        <br>
                        <br>
                        <h6>Predobdelava besedila</h6>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="cb-normalize" checked="">
                            <label class="form-check-label" for="cb-normalize">Normaliziraj</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="cb-accentuate" checked="">
                            <label class="form-check-label" for="cb-accentuate">Naglasi</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="simple-accentuation" checked="">
                            <label class="form-check-label" for="simple-accentuation">
                                Uporabi enostavno naglaševanje
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="caching" checked="">
                            <label class="form-check-label" for="caching">
                                Uporabi že sintetizirano besedilo
                            </label>
                        </div>
                        <hr>

                        <br>
                        <br>

                        <h6>Stanje sistema <a href="javascript:checkServices()"><i class="bi bi-arrow-clockwise"></i></a></h6>
                        <br>
                        <p id="label_deviceCount">Število GPU enot: -</p>
                        <p id="label_totalMEM">Skupna velikost spomina: -</p>
                        <p id="label_consumedMEM">Zasedeno: -</p>
                        <p id="label_freeMEM">Prosto: -</p>
                        <br>

                        <p>Dostopnost naglaševalnika: <i class="bi bi-question-circle-fill" style="color:black" id="id_accentuator_icon"></i> </p>
                        <p>Dostopnost normalizatorja: <i class="bi bi-question-circle-fill" style="color:black" id="id_normalizator_icon"></i> </p>

                        <!---Check system state-->
                        <script>
                            checkServices()
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<script>
</script>