<div class="container">
    <div class="row">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for the book...">
        <div class="col-sm-2"></div>
        <div class="col-sm-12">
            <table id="table" class="table table-hover" data-total-field="count">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Avtor</th>
                    <th scope="col">Knjiga</th>
                    <th scope="col">Datum začetka projekta</th>
                    <th scope="col">Datum zaključka projekta</th>
                </tr>
                </thead>

                <tbody>
                    {{#each knjige}}
                        <tr class="search {{this.state}}">
                            <th scope="row">{{@index}}</th>
                            <td>{{this.author}}</td>
                            <td>{{this.title}}</td>
                            <td>{{this.dateCreated}}</td>
                            <td>{{this.dateFinished}}</td>
                            <td><button type="button" class="btn projekti delete-btn" data-id="{{this._id}}">
                                <i class="bi bi-trash"></i></button>
                                <a href="/knjige/{{this._id}}"><button type="button" class="btn projekti" id="btn-normalize"><i class="bi bi-pen"></i></button></a></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

            <div>
                <button class="pagination-arrow" onclick="prevPage()">Previous</button>
                <ul class="pagination" id="pagination"></ul>
                <button class="pagination-arrow" onclick="nextPage()">Next</button>
            </div>

            <p></p>
            <a href="/knjige/novaKnjiga"><button type="button" class="btn btn-primary" id="btn-normalize">Nov projekt</button></a>
            <button type="button" class="btn btn-danger deleteAll-btn" id="btn-normalize">Izbriši vse projekte</button>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>

<script>

</script>