<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <!--<button type="button" class="btn btn-dark" data-id="{{this._id}}" id="btn-normalize">Uredi projekt</button>-->
            <button class="btn btn-dark" id="btn-settings" type="button" data-toggle="modal" data-target="#offcanvasLeft"><i class="bi bi-gear"></i> Nastavitve</button>
            <a href="/knjige"><button type="button" class="btn btn-primary" id="btn-normalize">Shrani projekt</button></a>
            <button type="button" class="btn btn-success" id="btn-prepare">Dokončaj projekt</button> <!-- še 1x potrdi plus možnost preklica-->
        </div>
        <div> <!--//SETTINGS-->
            <!-- modal -->
            <div class="modal fade settings" id="offcanvasLeft" tabindex="-1">
                <div class="modal-dialog" style="max-width: 80%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"><b>Nastavitve</b></h5>
                        </div>
                        <div class="modal-body">
                            <!--Voice selector-->
                            <h6 class="settings-header" id="voice-setting"><a data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="true" href="#voice-settings" onclick="toggleCollapseButton(this)" class=""><i class="clsbtn fa-fw fa-chevron-up fa-solid" aria-hidden="true"></i></a> Nastavitve glasu</h6>
                            <div class="col-md multi-collapse collapse show" id="voice-settings-voice-selector" style="">
                                <div class="form-floating">
                                    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                        <option value="1">ajda</option><option value="2">jure</option><option value="3">ziga</option></select>
                                    <label for="floatingSelectGrid">Govorec</label>
                                </div>
                            </div>
                            <br>
                            <!--Prosody settings-->
                            <div class="multi-collapse collapse show" id="voice-settings-voice-prosody" style="">
                                <label for="paceValue" class="form-label" id="labelPace">Tempo: 1</label>
                                <input type="range" class="form-range" min="0" max="2" step="0.1" value="1" id="paceValue" oninput="$('#labelPace')[0].innerHTML='Tempo: '.concat(this.value)">

                                <label for="pitchValueShift" class="form-label" id="labelPitchShift">Višina-zamik: 0</label>
                                <input type="range" class="form-range" min="-50" max="50" value="0" id="pitchValueShift" oninput="$('#labelPitchShift')[0].innerHTML='Višina-zamik: '.concat(this.value)">

                                <label for="pitchValueAmp" class="form-label" id="labelPitchAmp">Višina-faktor ojačitve: 1</label>
                                <input type="range" class="form-range" min="0" max="2" step="0.1" value="1" id="pitchValueAmp" oninput="$('#labelPitchAmp')[0].innerHTML='Višina-faktor ojačitve: '.concat(this.value)">
                                <br>
                                <br>
                                <br>
                            </div>
                            <!--Preprocessing options-->
                            <h6 class="settings-header" id="text-preprocessing-setting"><a data-bs-toggle="collapse" href="#text-preprocessing" aria-expanded="true" onclick="toggleCollapseButton(this)" class=""><i class="clsbtn fa-fw fa-chevron-up fa-solid" aria-hidden="true"></i></a> Predobdelava besedila</h6>
                            <div class="collapse show" id="text-preprocessing" style="">
                                <br>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="cb-normalize" checked="">
                                    <label class="form-check-label" for="cb-normalize">Normaliziraj</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="cb-accentuate" checked="">
                                    <label class="form-check-label" for="cb-accentuate">Naglasi</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="simple-accentuation" checked="">
                                    <label class="form-check-label" for="simple-accentuation">
                                        Uporabi enostavno naglaševanje
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="caching" checked="">
                                    <label class="form-check-label" for="caching">
                                        Uporabi že sintetizirano besedilo
                                    </label>
                                </div>
                                <br>
                                <button class="btn btn-primary"  data-dismiss="modal">Shrani</button>
                                <div class="modal-footer player">
                                    <button class="btn edit close" data-dismiss="modal"><i class="bi bi-x"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <label for="myInput"></label><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for the sentence...">
        <div class="col-sm-2"></div>

        <div class="col-sm-12">
            <table id="table" class="table table-hover" data-total-field="count">
                <div id="debugArea"></div>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Stavek</th>
                </tr>
                </thead>

                <tbody>
                    {{#each knjiga.sentences}}
                        <tr class="search table-secondary {{this._id}}">
                            <th scope="row" style="background-color: {{this.state}}">{{@index}}</th>
                            <td>{{this.chosenText}}</td>
                            <td width="15%"><button type="button" class="btn play-sentence-btn" data-stavekId="{{this._id}}"  data-knjigaId="{{../knjiga._id}}"data-toggle="collapse" data-target="#a{{this._id}}" aria-expanded="true" aria-controls="collapseOne"><i class="bi bi-play-circle"></i></button></td>
                            <td width="15%"><button class="btn" data-toggle="collapse" data-target="#a{{this._id}}" aria-expanded="true" aria-controls="collapseOne"><i class="bi bi-pencil-square"></i></button></td>
                            <td width="15%"><button type="button" class="btn delete-sentence-btn" data-id="{{this._id}}" data-knjigaId="{{../knjiga._id}}"><i class="bi bi-trash"></i></button></td>
                        </tr>

                        <tr id="a{{this._id}}" class="collapse" aria-labelledby="headingOne" data-parent="#table">
                            <td colspan="12" class="table-secondary">
                                <div >
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <audio controls id="audioControlsPlay{{this._id}}">

                                                    Your browser does not support the audio element.
                                                </audio>
                                            </td>
                                            <td>
                                                {{#each versions}}
                                                    <button class="btn btn{{@index}} btn-circle btn-sm {{this.state}}" data-toggle="modal" data-target="#b{{this._id}}">{{@index}}.</button>
                                                    <!-- modal -->
                                                    <div class="modal fade" id="b{{this._id}}" tabindex="-1">
                                                        <div class="modal-dialog" style="max-width: 80%;">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel"><b>Verzija {{@index}}</b></h5>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form action="/knjige/{{../../knjiga._id}}/sentences/{{../this._id}}/versions/{{this._id}}" method="POST" id="correctVersion">
                                                                        <div class="col-sm-12">
                                                                            <label for="floatingInput">Stara verzija stavka</label>
                                                                            <input type="text" class="form-control" id="floatingInput" name="oldVersion" value="{{this.text}}" disabled>
                                                                        </div>
                                                                        <div class="col-sm-12">
                                                                            <label for="floatingInput">Nova verzija stavka</label>
                                                                            <input type="text" class="form-control" id="floatingInput" name="text" value="{{this.text}}">
                                                                        </div>
                                                                        <div class="col-sm-12">
                                                                            <input type="submit" value="Shrani"
                                                                                   class="popover-dismiss col-lg-4 mx-auto col-sm-3 mt-3 btn btn-primary">
                                                                        </div>
                                                                    </form>
                                                                    <br>
                                                                    <audio controls>
                                                                        <!--<source src="horse.ogg" type="audio/ogg">
                                                                        <source src="horse.mp3" type="audio/mpeg">-->
                                                                        Your browser does not support the audio element.
                                                                    </audio>
                                                                </div>
                                                                <div class="modal-footer player">
                                                                    <!--<button class="btn edit" onclick="saveNewText()"><i class="bi bi-save"></i></button>-->
                                                                    <button class="btn edit"><i class="bi bi-file-play"></i></button>
                                                                    <!--<button class="btn edit"><i class="bi-bookmark-star"></i></button>
                                                                    <button class="btn edit"><i class="bi-bookmark-x"></i></button>-->
                                                                    <button type="button" class="btn update-version-btn" data-knjigaId="{{../../knjiga._id}}" data-stavekId="{{../this._id}}" data-verzijaId="{{this._id}}" data-izbranaVerzija="false"><i class="bi bi-bookmark-x"></i></button>
                                                                    <button type="button" class="btn update-version-btn {{this.state}}" data-knjigaId="{{../../knjiga._id}}" data-stavekId="{{../this._id}}" data-verzijaId="{{this._id}}" data-izbranaVerzija="true"><i class="bi bi-bookmark-star"></i></button>
                                                                    <button type="button" class="btn delete-version-btn" data-knjigaId="{{../../knjiga._id}}" data-stavekId="{{../this._id}}" data-verzijaId="{{this._id}}"><i class="bi bi-trash"></i></button>
                                                                    <button class="btn edit close" data-dismiss="modal"><i class="bi bi-x"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {{/each}}

                                                <button class="btn btn-circle btn-sm" data-toggle="modal" data-target="#newVersion{{this._id}}"><b>+</b></button>
                                                <!-- modal-->
                                                <div class="modal fade" id="newVersion{{this._id}}" tabindex="-1">
                                                    <div class="modal-dialog" style="max-width: 80%;">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel"><b>Nova verzija stavka</b></h5>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="/knjige/{{../knjiga._id}}/sentences/{{this._id}}/versions" method="post" id="newVersion">
                                                                    <div class="col-sm-12">
                                                                        <label for="floatingInput">Stara verzija</label>
                                                                        <input type="text" class="form-control" id="floatingInput" name="oldVersion" value="{{this.chosenText}}" disabled>
                                                                    </div>
                                                                    <div class="col-sm-12">
                                                                        <label for="floatingInput">Nova verzija</label>
                                                                        <input type="text" class="form-control" id="floatingInput" name="text" value="{{this.chosenText}}">
                                                                    </div>
                                                                    <div class="col-sm-12">
                                                                        <input type="submit" value="Shrani"
                                                                               class="popover-dismiss col-lg-4 mx-auto col-sm-3 mt-3 btn btn-primary">
                                                                    </div>
                                                                </form>
                                                                <br>
                                                                <audio controls>
                                                                    <!--<source src="horse.ogg" type="audio/ogg">
                                                                    <source src="horse.mp3" type="audio/mpeg">-->
                                                                    Your browser does not support the audio element.
                                                                </audio>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn edit close" data-dismiss="modal"><i class="bi bi-x"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

            <!--<div>
                <button class="pagination-arrow" onclick="prevPage()">Previous</button>
                <ul class="pagination" id="pagination"></ul>
                <button class="pagination-arrow" onclick="nextPage()">Next</button>
            </div>-->

            <div class="float-end">
                <button class="btn btn-dark" id="btn-settings" type="button" data-toggle="modal" data-target="#offcanvasLeft"><i class="bi bi-gear"></i> Nastavitve</button>
                <br>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>